/* Set up */
:root {
  --accent-color: #8061c7;
  --highlight-color: #9a87c7;
  --pop-color: #fff64d;
  --style-font: "Cairo Play", cursive;
  --std-font: "Inter", "Open Sans", "Helvetica Neue", sans-serif;
  --secondary-font: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root,
:root.dark {
  color-scheme: dark;
  --accent-color: #8061c7;
  --highlight-color: #9a87c7;
  --pop-color: #fff64d;
  --bg-color: #2C2C2C;
  --text-color: white;
  --page-bg: black;
  --gray: #484848;
}
  
:root.light {
  color-scheme: light;
  --accent-color: #8061c7;
  --highlight-color: #9a87c7;
  --pop-color: #fff64d;
  --bg-color: white;
  --text-color: black;
  --page-bg: aliceblue;
  --gray: #d2d2d2;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  color: var(--text-color);
}

/* Full-screen pages */
.page {
  height: 100vh;
  display: flex;
}

/* Navigation bar */
#navbar {
  position: fixed;
  right: 30px;
  top: 50vh;
  transform: translate(0, -50%);
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}

a.nav,
button.nav {
  border: 0;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
}

a.nav:hover,
button.nav:hover {
  background-color: var(--highlight-color);
  box-shadow: 0 0 15px 0 rgba(65, 0, 81, 0.2);
}

iconify-icon.nav {
  font-size: 30px;
  color: var(--bg-color);
}

/* Home */

.logo {
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
  font: 700 4.2em var(--style-font);
}

.header {
  position: absolute;
  right: 200px;
  max-width: 550px;
  top: 35vh;
}

.name {
  font: 500 3.9em var(--std-font);
  padding-bottom: 0.2em;
}

.description {
  font: 500 1.8em var(--std-font);
  padding-bottom: 0.6em;
}

.contact-button-wrapper {
  display: flex;
  flex-wrap: row nowrap;
  gap: 10px;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  font: 500 1.4em var(--secondary-font);
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.contact-button:hover {
  background-color: var(--highlight-color);
  box-shadow: 0 0 8px 0 rgba(65, 0, 81, 0.2);
}

.spacer {
  position: absolute;
  height: 95vh;
  width: 6vw;
  background-color: var(--accent-color);
}

.fluff {
  position: absolute;
  left: 5vw;
  height: 95vh;
  width: 35vw;
  border-radius: 1%;
  background: linear-gradient(
    to top right,
    var(--accent-color) 49.9%,
    var(--pop-color) 50% 51%,
    var(--bg-color) 51.1%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.self-pic {
  border-radius: 50%;
  border: 20px solid var(--bg-color);
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* About page */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-window {
  position: relative;
  left: -100px;
  display: flex;
  flex-flow: column nowrap;
  width: 50vw;
  min-width: 750px;
  max-height: 100%;
  padding: 5px;
  background-color: var(--highlight-color);
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.boba {
  position: absolute;
  right: -150px;
  bottom: -50px;
  transform: rotate(10deg);
}

.boba-img {
  height: 300px;
}

.window-bar {
  width: 100%;
  height: 30px;
  display: flex;
  gap: 7px;
  align-items: center;
  padding-left: 5px;
}

.dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid var(--page-bg);
}

.about-content {
  width: 100%;
  background-color: var(--page-bg);
  padding: 20px;
  padding-right: 100px;
}

.about-header {
  font: 400 3em "Caveat", cursive;
}

.about-text {
  padding: 10px 20px 20px;
  list-style-type: "- ";
  font: 400 1.8em "Caveat", cursive;
}

.about-skill-icons {
  display: flex;
  flex-flow: row wrap;
  font-size: 2.5em;
  padding-top: 15px;
  padding-left: 10px;
  gap: 7px;
}

/* Projects page */
#projects {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#projects h2 {
    font: 600 2.8em var(--style-font);
  }

.project-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.project-block {
  background-color: var(--gray);
  border-radius: 10%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  height: 40vh;
  aspect-ratio: 4 / 3;
}

.project-block:hover {
  background-color: var(--highlight-color);
}

.project-block img {
  flex: 1 1 auto;
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 10% 10% 0 0;
}

.project-name {
  flex: 0 1 auto;
  font: 400 1.3em var(--secondary-font);
  text-align: center;
}

/* Contact */
#contact {
  display: flex;
  align-items: center;
}

.cat-bg {
  position: relative;
  left: 40vw;
  top: 25vh;
  height: 50vh;
  aspect-ratio: 1 / 1;
  background-color: #fff64d;

  -webkit-mask-image: url(boba.webp);
  mask-image: url(boba.webp);
  -webkit-mask-size: 100px 100px;
  mask-size: 100px 100px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.socials-box {
  position: absolute;
  left: 15vw;
  width: 35vw;
  height: 80vh;
  background-color: #8061c7;
}

